<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="img/logo2.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
  <title>Spotify Downloader</title>
</head>

<body>
  <header>
    <img src="img/logo3.png" alt="logo">
    <img src="img/moon.png" class="theme" title="Change theme" alt="Theme">
  </header>

  <div class="container">
    <img class="spotify" src="img/spotify2.png" alt="spotify">
    <div class="input-container">
      <div class="box">
        <input type="text" name="search" id="search" placeholder="What do you want to listen to?" autocomplete="off">
        <img class="mic" src="img/mic-off.png" alt="mic">
      </div>
    </div>

    <div class="main">
      <ul class="display">

      </ul>
    </div>
  </div>

  <div class="footer">
    <iframe id="iframe" src="" frameborder="0"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="js/index.js"></script>
</body>

</html>